<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css" />
    <link href="/static/styles/display.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/scripts/weather.js" type="text/javascript"></script>
  </head>

  <body>
    {% block content %}


    {% endblock %}
  </body>

  <script type="text/javascript">
    $(document).ready(function() {
      var w = Weather();

    });
  </script>

</html>
