<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <link href="http://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet" type="text/css" />
    <link href="/static/styles/display.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="/static/scripts/weather.js" type="text/javascript"></script>
  </head>

  <body>
    
    <div id="content">
      <div class="current-weather">
        <img src="/static/images/icons/{{ conditions.current_observation.icon }}.png" />
        <h1>{{ conditions.current_observation.temp_f|round|int }}&deg;<span class="degree-unit">F</span></h1>
        <p>{{ conditions.current_observation.display_location.full }}</p>
      </div>
    </div>

    <div class="btn-hourly-weather">
      <img src="/static/images/icons/hourly-weather.png" />
      <h1>hourly</h1>
    </div>

    <div class="btn-detailed-weather">
      <h1>details</h1>
      <img src="/static/images/icons/detailed-weather.png" />
    </div>

  </body>

  <script type="text/javascript">
    $(document).ready(function() {
      var w = Weather();

    });
  </script>

</html>
