{% if not request.is_xhr %} {% extends "base.html" %} {% endif %}

{% block content %}
  <div class="hourly-weather">
    <table>
      {% for hour in hourly.hourly_forecast[:5] %}
        <tr>
            <td>{{ hour.FCTTIME.civil|lower|replace(" ", "") }}</td>
            <td>
                {% if hour.icon in ["cloudy", "fog", "hazy", "mostlycloudy", "mostlysunny", "partlycloudy", "partlysunny"] %}
                    <img src="/static/images/icons/small-cloudy.png" />
                {% elif hour.icon in ["rain", "chanceflurries", "chancerain", "chancesleet", "chancesnow", "flurries", "sleet", "snow"] %}
                    <img src="/static/images/icons/small-rain.png" />
                {% elif hour.icon in ["clear", "sunny"] %}
                    <img src="/static/images/icons/small-sunny.png" />
                {% elif hour.icon in ["tstorms", "chancetstorms"] %}
                    <img src="/static/images/icons/small-tstorms.png" />
                {% endif %}
            </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
