body {
  font-family: 'Josefin Sans', sans-serif;
  color: #26ADE4;
  background-color: #F5F5F5;
}

.slide {
  -webkit-transition: margin 0.25s ease-out;
}

#content {
  //margin-left: auto 15%;
  //margin-right: auto 15%;
  margin: auto;
  width: 960px;
  //-webkit-transition: margin 1.5s ease-out;
}

.temp-old, .temp-new {
  margin: auto;
  text-align: center;
}


.degree-unit {
  font-size: 0.5em;
}

.current-weather {
  padding-top: 5em;
  width: 960px;
  margin: auto;
  text-align: center;
}

  .current-weather h1 {
    display: inline;
    padding-left: 0.5em;
    font-size: 9em;
  }

  .current-weather img {
    vertical-align: middle;
  }


.hourly-weather {
  width: 960px;
  margin: auto;
  text-align: center;

}

  .hourly-weather table {
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
  }

  .hourly-weather td {
    //border: 1px solid black;
    padding-right: 1em;
  }

  .hourly-weather td img {
    padding-top: 1em;
  }

/**
* Buttons
*/

.btn-hourly-weather {
  background-color: #7F7F7F;

  border: 1px solid #26ADE4;
  padding: 0.5em;
  position: fixed;
  right: -195px;
  top: 30%;
}

  .btn-hourly-weather:hover {
    right: 0px;
  }

  .btn-hourly-weather h1 {
    display: inline;
  }

  .btn-hourly-weather img {
    vertical-align: middle;
    padding: 0.5em;
  }

.btn-detailed-weather {
  background-color: #7F7F7F;
  border: 1px solid #26ADE4;
  padding: 0.5em;
  position: fixed;
  left: -195px;
  top: 30%;
}

  .btn-detailed-weather:hover {
    left: 0px;
  }

  .btn-detailed-weather h1 {
    display: inline;
  }

  .btn-detailed-weather img {
    vertical-align: middle;
    padding: 0.5em;
  }
